<!-- <%- include partials/header.ejs %> -->

!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% title %></title>
<!-- CSS Section -->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/content/app.css' />
  
</head>
<body>

<<%- include partials/main_nav.ejs %> 
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>

      </div>
  </main>

 
  <!-- <%- include partials/bottom_nav.ejs %> -->

 
  
  <!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
    <h8 class="display-6 navbar-text">&copy; Paul Kamau COMP229 Assignment1 Copyright 2022. All Rights reserved.</h8>
  </nav>
    </footer>

 <!-- <%- include partials/footer.ejs %> -->
<!-- Script Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>  
</body>
</html>


